<div id="list" class="pure-u-1">
  <% Post.all.each do |post| %>
    <div class="email-item pure-g">
      <div class="pure-u">
        <img class="email-avatar" alt="<%= "Avatar von #{post.user}" %>" height="64" width="64" src=<%= Gravatar.new(post.user.email).image_url %>>
      </div>

      <div class="pure-u-3-4">
        <h5 class="email-name"><%= post.user %><br /><%= l post.created_at, format: :short %></h5>
        <h4 class="email-subject"><%= link_to post.title, post %></h4>
        <p class="email-desc">
          <%= post.abstract %>
        </p>
      </div>
    </div>
  <% end %>
</div>
