<% cache [I18n.locale, current_user, cache_key_for_all(Post)] do %>
<div class="email-content-body">
  <h1>Listing Posts</h1>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
          <th>User</th>
          <th>Title</th>
          <th>Abstract</th>
          <th>Content</th>
          <th>State</th>
          <th>Likes count</th>
          <th>Dislikes count</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
            <td><%= post.user %></td>
            <td><%= post.title %></td>
            <td><%= post.abstract %></td>
            <td><%= post.content %></td>
            <td><%= post.state %></td>
            <td><%= post.likes_count %></td>
            <td><%= post.dislikes_count %></td>
            <td><%= link_to 'Show', post, class: policy(post).show? ? 'pure-button':'pure-button pure-button-disabled' %></td>
          <td><%= link_to 'Edit', edit_post_path(post), class: policy(post).edit? ? 'pure-button':'pure-button pure-button-disabled' %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: policy(post).destroy? ? 'pure-button':'pure-button pure-button-disabled' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Post', new_post_path, class: policy(Post.new).new? ? 'pure-button':'pure-button pure-button-disabled' %>
</div>
<% end %>
