<!DOCTYPE html>
<html>
<head>
  <title>Reise Community untrwgs.de</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="layout" class="content pure-g">
  <%= render "layouts/navigation" %>
  <%= render "shared/posts_overview" %>

  <% if flash.any? %>
    <div class="email-content-header pure-g">
      <div class="pure-u">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, class: "alert alert-#{key}") do %>
          <p>
            <%= value %>
          </p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="main" class="pure-u-1">
    <div class="email-content">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
